/* Masa Logosu */
.a-logo:visited {
    color: darkred; 
    text-decoration: none;
    font-weight: bold;
}
.a-logo:hover {
    color: darkred; 
    text-decoration: none;
    font-weight: bold;
}
.a-logo:link {
    color: darkred; 
    text-decoration: none;
    font-weight: bold;
}
.a-logo:active {
    color: darkred; 
    text-decoration: none;
    font-weight: bold;
}
/* Header Linkler */
.a:visited {
    color: rgb(189, 187, 187); 
    text-decoration: none;
    padding-left: 10px;
    font-size: small;
}
.a:hover {
    color: rgb(85, 81, 81) ;
    text-decoration: none;
    font-weight: bold;
    padding-left: 10px;
    font-size: small;
}
.a:link {
    color: rgb(85, 81, 81); 
    text-decoration: none;
    padding-left: 10px;
    font-size: small;
}
.a:active {
    color: rgb(85, 81, 81); 
    text-decoration: none;
    padding-left: 10px;
    font-size: small;
}